<?xml version="1.0"?>
<config>
   <frontend>

   		<!-- Rota do módulo -->
   		<router>
   			<name>index</name>
   		</router>

   		<!-- Menu do módulo -->
   		<menu>
   			<item>
  				<name>jefferson_teste_principal</name>
	   			<title>Teste</title>
	   			<controller>index</controller>
	   			<child></child>
	   			<disabled></disabled>
	   		</item>
   		</menu>
   </frontend>
</config>